@charset "utf-8";
*{
/*    */
/*	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;*/
    font-family: Consolas, monospace;
/*    src: url(ZX81%20VDU.ttf)*/
}
h2 {
    padding-bottom: 0px;
    padding-top: 0px;
}