@charset "utf-8";
* {
/*	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;*/
/*    font-family: Consolas, monospace;*/
    font-family: Consolas, monospace;
    margin: 0px;
}

h2 {
    padding: 0px;
    font-size: 12px;
}

h1 {
    font-size: 50px;
}
#char-span {
    position: absolute;
    top: -100px;
}

#content {
    position: absolute;
    bottom: 15%;
    float: left;
    width: 80%;
    height: 85%;
    background-color:#44C44C;
    z-index: 0;
}

#sidebar {
    float: right;
    width: 20%;
    height: 100%;
/*    background-color: #444444;*/
    opacity: 1.0;
    z-index: 1;
}

#footer {
    background-color: #4C4C4C;
    color: black;
    text-align:center;
    position: fixed;
    bottom: 0px;
    height: 15%;
    width: 10%;
    z-index: 1;
}

#empty-space {
    height: 20%; /* Same height as footer */
    width: 100%;
}